<div class="container" id="about">
    <div class="row">
        <h2 class="heading mx-auto py-4">Experience and Challenges Implementing Angular</h2>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">How I Installed The Framework</h5>
                    <p class="card-text">
                        Before creating the repository, I had to install git and Node.js.
                        Then, I followed the sequence of commands: <br><br>
                        <code>
                            # Install Angular CLI globally <br>
                            npm install -g &#64;angular/cli <br>
                            <br>
                            # Verify that Angular CLI has been installed successfully <br>
                            ng version <br>
                            <br>
                            # Clone this repository <br>
                            git clone https://github.com/Tristanv0/Angular.git <br>
                            <br>
                            # Go into the repository <br>
                            cd Angular <br>
                            <br>
                            # Run the following command to start the Angular development server <br>
                            ng serve <br>
                            <br>
                            # You can use Ctrl+C to end the development server <br>
                        </code>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Challenges I Encountered</h5>
                    <p class="card-text">The Angular framework is mainly made up of TypeScript. As someone who has never learned or used
                        TypeScript, this was a big challenge for me to overcome. I also had to watch several videos on how to set up the framework
                        as many of the videos out there are outdated. I was able to overcome this challenge from reviewing the documentation. Although
                        reading the documentation was a longer process than simply watching a video, I was able to successfully implement the framework.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>